.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  max-height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: white;
}

body {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

footer {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ronnie {
  width: 400px;
}

@media {
}
